.footer{
    color: #e2e8f0;
    background-color: #475569;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 4rem;
    &__container {
        display: flex;
        flex-direction: column;
        padding: 4rem 0 2rem;
        @media(min-width: 768px) {
            flex-direction: row;
        }
    }
    &__list {
        width: 100%;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        @media(min-width: 640px) {
            width: 50%;
        }   
        @media(min-width: 768px) {
            width: 25%;
        }
        @media(min-width: 1024px) {
            width: 16.666667%;
        }
    }
}